if user 
    footer.footer
        .footer__logo
            img(src='/img/recipe-logo.png' alt='Recipe Logo')
        ul.footer__nav
            li: a(href="#") About US
            li: a(href="#") Download Apps
            li: a(href="#") Become a cook
            li: a(href="#") Careers
            li: a(href="#") Contact
        p.footer__copyright &copy; by Junaid Ahmad. Feel free to use this project for your own purpose.