doctype html
html
    head
        include _head
    body
        include _header

        block content
            h1 This is the index page

    include _footer
    script(type='module' src='/js/login.js')
    script(type='module' src='/js/signup.js')
    script(type='module' src='/js/logout.js')
    script(type='module' src='/js/recipe.js')
    script(type='module' src='/js/delete.js')
    script(type='module' src='/js/search.js')

