extends index
block content
    main.main
        .login-form.login-post
            h2.heading-secondary.ma-bt-lg Post a recipe
            form.form

                .post-container
                    .form__group.form-item
                        label.form__label(for='recipe_name') Recipe Name *
                        input#recipe_name.form__input(type='text', placeholder='Pasta', required)

                    .form__group.form-item.form-item__field
                        label.form__label(for='recipe_ingredients') Recipe Ingredients *
                        input#recipe_ingredients.form__input(type='text', placeholder='Cardamom powder, rice, minced, cumin....', required)

                .post-container
                    .form__group.ma-bt-md.form-item
                        label.form__label(for='recipe_category') Recipe Category *
                        input#recipe_category.form__input(type='text', placeholder='Desserts, cookies, biryani, pasta', required)

                    .form__group.form-item.form-item__field
                        label.form__label(for='recipe_cuisine') Recipe Cuisine *
                        input#recipe_cuisine.form__input(type='text', placeholder='Pakistan, spanish, japanese', required)

                .post-container
                    .form__group.ma-bt-md.form-item
                        label.form__label(for='recipe_time') Recipe Time (optional)
                        input#recipe_time.form__input(type='number')

                    .form__group.form-item.form-item__field
                        label.form__label(for='recipe_dietary') Recipe Dietary Restriction *
                        input#recipe_dietary.form__input(type='text' placeholder='Vegetarian, fast food, gluten free, vegan')

                .post-container
                    .form__group.form-item
                        label.form__label(for='recipe_description') Recipe Description (optional)
                        textarea#recipe_description.form__input(rows=10, cols=10)


                .post-container
                    .form__group.form-item.form-item__field.upload
                        label.form__label(for='recipe_image') Recipe Image (less then 5kb)*
                        input#recipe_image.form__input(type='file')

                .post-container.post-container__items
                    .form__group.form-item.post-container
                        a.btn.btn--green.btn-post Post Recipe 🍜

                    .form__group.form-item
                        a.nav__el.nav__el--cta(href="/recipe") Cancel

